In [1]:
import pandas as pd

# Preprocessing ev_stations data

In [125]:
stations = ('/content/TRNSFRM_ev_stations_v1.csv')
stations_df = pd.read_csv(stations)
stations_df

                            Station_Name  ... Charging_Cost
0               LADWP - Truesdale Center  ...           NaN
1        LADWP - West LA District Office  ...          Free
2          Los Angeles Convention Center  ...           NaN
3          LADWP - John Ferraro Building  ...           NaN
4             LADWP - Haynes Power Plant  ...           NaN
...                                  ...  ...           ...
50216                   VIP LOT STATION1  ...           NaN
50217          Prunedale Shopping Center  ...           NaN
50218          Beaverton Electric Avenue  ...           NaN
50219                      Shell - Inman  ...           NaN
50220  Westfield Trumbull (Trumbull, CT)  ...           NaN

[50221 rows x 19 columns]

In [126]:
# Drop columns with unusable date
stations_df = stations_df.drop(columns=['Status_Code', 'Access_Days_Time', 'EV_Network', 'EV_ID', 'Owner_Type_Code', 'Open_Date', 'Access_Code', 'Facility_Type', 'Charging_Cost'])

# drop rows with States not used in current model
states = ['MI', 'MN', 'NJ', 'NY', 'OR', 'TX', 'WA', 'WI']

stations_df = stations_df[stations_df.State_Code.isin(states) == True]

# FUTURE OPTION - Classify Charging_Cost as FREE or PAID - Need solution to classify NaNs
# stations_df['Charging_Cost'] = stations_df['Charging_Cost'].replace(to_replace = ('Free', 'Paid'), value = ('FREE', 'PAID'))

# replace NaNs in EVSE type columns
stations_df['EV_Level1_EVSE_Num'] = stations_df['EV_Level1_EVSE_Num'].fillna(0)
stations_df['EV_Level2_EVSE_Num'] = stations_df['EV_Level2_EVSE_Num'].fillna(0)
stations_df['EV_DC_Fast_Count'] = stations_df['EV_DC_Fast_Count'].fillna(0)

# reorder columns in table
stations_df = stations_df[['Station_Name', 'Street_Address', 'City', 'State_Code', 'Zip_Code', 'Latitude', 'Longitude', 'EV_Level1_EVSE_Num', 'EV_Level2_EVSE_Num', 'EV_DC_Fast_Count']]

# rename column names
stations_df = stations_df.rename(columns={
    'Zip_Code': 'ZIP_CODE',
    'EV_Level1_EVSE_Num': 'EV_LEVEL_1',
    'EV_Level2_EVSE_Num': 'EV_LEVEL_2',
    'EV_DC_Fast_Count': 'EV_FAST'})

# drop rows with nan values
stations_df = stations_df.dropna()

In [127]:
stations_df

                                            Station_Name  ... EV_FAST
107                    City of Lacey - City Hall Parking  ...     0.0
108    Oregon Museum of Science and Industry (OMSI) -...  ...     0.0
120    Seattle-Tacoma International Airport - General...  ...     0.0
123                  Travis Park United Methodist Church  ...     0.0
124                           City of Keizer - City Hall  ...     0.0
...                                                  ...  ...     ...
50207                                   HIGHWAY STATION1  ...     0.0
50208                                   HIGHWAY STATION2  ...     0.0
50214                    MIDSOUTH CHARGE EMPLOYEE PARK 3  ...     0.0
50215                    MIDSOUTH CHARGE EMPLOYEE PARK 4  ...     0.0
50218                          Beaverton Electric Avenue  ...     2.0

[10676 rows x 10 columns]

# Preprocessing Registration Data

In [206]:
# read in CSV files
mi = ('/content/mi_ev_registrations_public.csv')
mn = ('/content/mn_ev_registrations_public.csv')
nj = ('/content/nj_ev_registrations_public.csv')
ny = ('/content/ny_ev_registrations_public.csv')
ore = ('/content/or_ev_registrations_public.csv')
tx = ('/content/tx_ev_registrations_public.csv')
wa = ('/content/wa_ev_registrations_public.csv')
wi = ('/content/wi_ev_registrations_public.csv')

# function to create dataframes from csvs
def clean_state(state):
  state_df = pd.read_csv(state)

  state_df = state_df.Zip_code.value_counts().rename_axis('ZIP_CODE').reset_index(name='REG_COUNTS')

  state_df['ZIP_CODE'] = state_df['ZIP_CODE'].astype(int)

  return state_df

# create dataframes using clean_state function
mi_df = clean_state(mi)
mn_df = clean_state(mn)
nj_df = clean_state(nj)
ny_df = clean_state(ny)
ore_df = clean_state(ore)
tx_df = clean_state(tx)
wa_df = clean_state(wa)
wi_df = clean_state(wi)



# create registration_df and set index as ZIP_CODE
registration_df = pd.concat([mi_df,
                             mn_df,
                             nj_df,
                             ore_df,
                             tx_df,
                             wa_df,
                             wi_df])

In [207]:
registration_df

     ZIP_CODE  REG_COUNTS
0       48033        2048
1       48103        1252
2       48105         698
3       48104         545
4       48009         519
..        ...         ...
909     28036           1
910     76014           1
911     54871           1
912     54538           1
913     52003           1

[6871 rows x 2 columns]

# Final model Dataframe

In [230]:
# Drop location info for ml model
model_df = stations_df.drop(columns=['Station_Name',
                                     'Street_Address',
                                     'City',
                                     'State_Code',
                                     'Latitude',
                                     'Longitude'])


# count each level type by zip code
model_df = model_df.groupby(['ZIP_CODE'], as_index=False).sum()

# change data types for sorting and merging
model_df['ZIP_CODE'] = model_df['ZIP_CODE'].astype(int)
model_df['EV_LEVEL_1'] = model_df['EV_LEVEL_1'].astype(int)
model_df['EV_LEVEL_2'] = model_df['EV_LEVEL_2'].astype(int)
model_df['EV_FAST'] = model_df['EV_FAST'].astype(int)

# merge the data frame with registration_df
model_df = model_df.merge(registration_df, how='left', on='ZIP_CODE')

# fill nans with zero
model_df['REG_COUNTS'] = model_df['REG_COUNTS'].fillna(0)

# change data type for sorting and merging
model_df['REG_COUNTS'] = model_df['REG_COUNTS'].astype(int)

# soft dataframe by zip code
model_df = model_df.sort_values(by='ZIP_CODE')

# change zip code to string and reformat
model_df['ZIP_CODE'] = model_df['ZIP_CODE'].apply(lambda x: '0' + str(x) if x < 10000 else str(x)) 

# set ZIP_CODE as index
model_df = model_df.set_index('ZIP_CODE')

model_df

          EV_LEVEL_1  EV_LEVEL_2  EV_FAST  REG_COUNTS
ZIP_CODE
03266              0           2        0           0
07001              0           1        0         173
07003              0          12        5         795
07004              0           6        3           1
07004              0           6        3         306
...              ...         ...      ...         ...
99352              0          13        3        3411
99354             36          48        0        2082
99361              0           1        0         100
99362              1          27        0        2054
99403              0           2        0         370

[2852 rows x 4 columns]

In [232]:
# export model_df for the ML Model predictions.
model_df.to_csv('model_df.csv')