In [28]:
# Import Dependancies
import pandas as pd
import numpy as np

## Median Income Data Transform

In [29]:
# Load In Median Income Datafile
file_to_load = "resources/Census_2019_MedianIncome.csv"

In [30]:
# Save Median Income file as dataframe
medianIncome_df = pd.io.parsers.read_csv(file_to_load, dtype={'Zip Code': 'str'})
medianIncome_df.head()

,Zip Code,Total Households,Margin of Error Households Total,"Estimate Households Total Less than $10,000","Margin of Error Households Total Less than $10,000","Estimate Households Total $10,000 to $14,999","Margin of Error Households Total $10,000 to $14,999","Estimate Households Total $15,000 to $24,999","Margin of Error Households Total $15,000 to $24,999","Estimate Households Total $25,000 to $34,999",...,"Estimate Households Total $100,000 to $149,999","Margin of Error Households Total $100,000 to $149,999","Estimate Households Total $150,000 to $199,999","Margin of Error Households Total $150,000 to $199,999","Estimate Households Total $200,000 or more","Margin of Error Households Total $200,000 or more",Estimate Households Median income (dollars),Margin of Error Households Median income (dollars),Estimate Households Mean income (dollars),Margin of Error Households Mean income (dollars)
0,00601,5509,189,37.2,3.8,14.7,2.8,17.9,3,12.2,...,0.9,0.9,0.3,0.5,0.1,0.1,14361,1353,20370,1847
1,00602,12740,443,30,2.9,15.3,2.4,19,2.3,13,...,2.2,1.1,0.8,0.5,0,0.4,16807,1241,25808,1710
2,00603,19228,503,34.8,2,13.1,1.6,16.3,1.9,10.7,...,2.3,0.7,0.4,0.3,0.6,0.3,16049,999,27033,1774
3,00606,1946,176,41.4,5.7,13,4.1,18,5.1,16.2,...,0,2.3,0,2.3,0,2.3,12119,2092,16823,1667
4,00610,8795,388,24.9,3.2,14.9,2.4,20.3,2.9,13.5,...,2.1,1.2,0.4,0.6,0.6,0.5,19898,1756,27929,2242

In [32]:
# Dropping Columns Not Needed
medianIncome_clean_df = medianIncome_df.drop(['Estimate Households Total Less than $10,000',
       'Margin of Error Households Total Less than $10,000',
       'Estimate Households Total $10,000 to $14,999',
       'Margin of Error Households Total $10,000 to $14,999',
       'Estimate Households Total $15,000 to $24,999',
       'Margin of Error Households Total $15,000 to $24,999',
       'Estimate Households Total $25,000 to $34,999',
       'Margin of Error Households Total $25,000 to $34,999',
       'Estimate Households Total $35,000 to $49,999',
       'Margin of Error Households Total $35,000 to $49,999',
       'Estimate Households Total $50,000 to $74,999',
       'Margin of Error Households Total $50,000 to $74,999',
       'Estimate Households Total $75,000 to $99,999',
       'Margin of Error Households Total $75,000 to $99,999',
       'Estimate Households Total $100,000 to $149,999',
       'Margin of Error Households Total $100,000 to $149,999',
       'Estimate Households Total $150,000 to $199,999',
       'Margin of Error Households Total $150,000 to $199,999',
       'Estimate Households Total $200,000 or more',
       'Margin of Error Households Total $200,000 or more',
      ], axis=1)

In [33]:
# Renaming Columns Needed
medianIncome_df = medianIncome_clean_df.rename(columns={"Zip Code": "Zip_Code", "Total Households": "Total_Households", "Margin of Error Households Total": "Total_Households_Margin_Error", "Estimate Households Median income (dollars)":"Median_Households_Estimate_Income", "Margin of Error Households Median income (dollars)":"Median_Households_Margin_Error", "Estimate Households Mean income (dollars)":"Mean_Households_Estimate_Income", "Margin of Error Households Mean income (dollars)":"Mean_Households_Margin_Error"}, errors="raise")
medianIncome_df.head()

,Zip_Code,Total_Households,Total_Households_Margin_Error,Median_Households_Estimate_Income,Median_Households_Margin_Error,Mean_Households_Estimate_Income,Mean_Households_Margin_Error
0,00601,5509,189,14361,1353,20370,1847
1,00602,12740,443,16807,1241,25808,1710
2,00603,19228,503,16049,999,27033,1774
3,00606,1946,176,12119,2092,16823,1667
4,00610,8795,388,19898,1756,27929,2242

In [37]:
# Writing File to CSV
medianIncome_df.to_csv("/Users/jennifermadson/Desktop/Data-Analytics-BootCamp/School-Projects/data_miners/resources/medianIncome.csv")

## Zip County Data Transform

In [40]:
# Load In Zip County Datafile
file_to_load_B = "resources/ORIG_ZIP_COUNTY_FIPS_201706.csv"

In [41]:
# Save Zip County file as dataframe
zipCounty_df = pd.io.parsers.read_csv(file_to_load_B, dtype={'Zip': 'str'})
zipCounty_df.head()

     ZIP      COUNTYNAME STATE  STCOUNTYFP CLASSFP
0  36003  Autauga County    AL        1001      H1
1  36006  Autauga County    AL        1001      H1
2  36067  Autauga County    AL        1001      H1
3  36066  Autauga County    AL        1001      H1
4  36703  Autauga County    AL        1001      H1

In [42]:
# Dropping Columns Not Needed
zipCounty_clean_df = zipCounty_df.drop(['CLASSFP'], axis=1)

In [44]:
# Renaming Columns Needed
zipCounty__df = zipCounty_clean_df.rename(columns={"ZIP": "Zip_Code", "COUNTYNAME": "County_Name", "STATE": "State_Code", "STCOUNTYFP":"County_Code"}, errors="raise")
zipCounty__df.head()

   Zip_Code     County_Name State_Code  County_Code
0     36003  Autauga County         AL         1001
1     36006  Autauga County         AL         1001
2     36067  Autauga County         AL         1001
3     36066  Autauga County         AL         1001
4     36703  Autauga County         AL         1001

In [45]:
# Writing File to CSV
zipCounty__df.to_csv("/Users/jennifermadson/Desktop/Data-Analytics-BootCamp/School-Projects/data_miners/resources/zipCounty.csv")

## Electric Vehicles Data Transform

In [52]:
# Load In EV Datafile
file_to_load_C = "resources/ORIG_ev_stations_v1.csv"

In [56]:
# Save EV file as dataframe
ev_df = pd.io.parsers.read_csv(file_to_load_C, dtype={'ZIP': 'str', 'EV Other Info': 'str'})
ev_df.head()

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,ELEC,LADWP - Truesdale Center,11797 Truesdale St,NaN,Sun Valley,CA,91352,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ELEC,LADWP - West LA District Office,1394 S Sepulveda Blvd,NaN,Los Angeles,CA,90024,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ELEC,Los Angeles Convention Center,1201 S Figueroa St,West hall and South hall,Los Angeles,CA,90015,NaN,213-741-1151,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ELEC,LADWP - John Ferraro Building,111 N Hope St,Across Hope,Los Angeles,CA,90012,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ELEC,LADWP - Haynes Power Plant,6801 E 2nd St,NaN,Long Beach,CA,90803,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
ev_df.columns

Index(['Fuel Type Code', 'Station Name', 'Street Address',
       'Intersection Directions', 'City', 'State', 'ZIP', 'Plus4',
       'Station Phone', 'Status Code', 'Expected Date',
       'Groups With Access Code', 'Access Days Time', 'Cards Accepted',
       'BD Blends', 'NG Fill Type Code', 'NG PSI', 'EV Level1 EVSE Num',
       'EV Level2 EVSE Num', 'EV DC Fast Count', 'EV Other Info', 'EV Network',
       'EV Network Web', 'Geocode Status', 'Latitude', 'Longitude',
       'Date Last Confirmed', 'ID', 'Updated At', 'Owner Type Code',
       'Federal Agency ID', 'Federal Agency Name', 'Open Date',
       'Hydrogen Status Link', 'NG Vehicle Class', 'LPG Primary',
       'E85 Blender Pump', 'EV Connector Types', 'Country',
       'Intersection Directions (French)', 'Access Days Time (French)',
       'BD Blends (French)', 'Groups With Access Code (French)',
       'Hydrogen Is Retail', 'Access Code', 'Access Detail Code',
       'Federal Agency Code', 'Facility Type', 'CNG Dispenser Num',
       'CNG On-Site Renewable Source', 'CNG Total Compression Capacity',
       'CNG Storage Capacity', 'LNG On-Site Renewable Source',
       'E85 Other Ethanol Blends', 'EV Pricing', 'EV Pricing (French)',
       'LPG Nozzle Types', 'Hydrogen Pressures', 'Hydrogen Standards',
       'CNG Fill Type Code', 'CNG PSI', 'CNG Vehicle Class',
       'LNG Vehicle Class', 'EV On-Site Renewable Source',
       'Restricted Access'],
      dtype='object')

In [57]:
# Dropping Columns Not Needed
ev_clean_df = ev_df.drop(['Fuel Type Code',
       'Intersection Directions', 'Plus4', 'Station Phone', 'Expected Date',
       'Groups With Access Code', 'Cards Accepted',
       'BD Blends', 'NG Fill Type Code', 'NG PSI', 'EV Other Info',
       'EV Network Web', 'Geocode Status',
       'Date Last Confirmed', 'Updated At',
       'Federal Agency ID', 'Federal Agency Name',
       'Hydrogen Status Link', 'NG Vehicle Class', 'LPG Primary',
       'E85 Blender Pump', 'EV Connector Types', 'Country',
       'Intersection Directions (French)', 'Access Days Time (French)',
       'BD Blends (French)', 'Groups With Access Code (French)',
       'Hydrogen Is Retail', 'Access Detail Code',
       'Federal Agency Code', 'CNG Dispenser Num',
       'CNG On-Site Renewable Source', 'CNG Total Compression Capacity',
       'CNG Storage Capacity', 'LNG On-Site Renewable Source',
       'E85 Other Ethanol Blends', 'EV Pricing (French)',
       'LPG Nozzle Types', 'Hydrogen Pressures', 'Hydrogen Standards',
       'CNG Fill Type Code', 'CNG PSI', 'CNG Vehicle Class',
       'LNG Vehicle Class', 'EV On-Site Renewable Source',
       'Restricted Access'], axis=1)

In [60]:
# Renaming Columns Needed
ev_df = ev_clean_df.rename(columns={"Station Name": "Station_Name", "Street Address": "Street_Address", "State": "State_Code", "ZIP":"Zip_Code", "Status Code":"Status_Code","Access Days Time":"Access_Days_Time","EV Level1 EVSE Num":"EV_Level1_EVSE_Num","EV Level2 EVSE Num":"EV_Level2_EVSE_Num","EV DC Fast Count":"EV_DC_Fast_Count","EV Network":"EV_Network","ID":"EV_ID","Owner Type Code":"Owner_Type_Code","Open Date":"Open_Date","Access Code":"Access_Code","Facility Type":"Facility_Type","EV Pricing":"Charging_Cost",}, errors="raise")
ev_df.head()

,Station_Name,Street_Address,City,State_Code,Zip_Code,Status_Code,Access_Days_Time,EV_Level1_EVSE_Num,EV_Level2_EVSE_Num,EV_DC_Fast_Count,EV_Network,Latitude,Longitude,EV_ID,Owner_Type_Code,Open_Date,Access_Code,Facility_Type,Charging_Cost
0,LADWP - Truesdale Center,11797 Truesdale St,Sun Valley,CA,91352,E,Fleet use only,NaN,39.0,3.0,Non-Networked,34.248319,-118.387971,1517,LG,1999-10-15,private,UTILITY,NaN
1,LADWP - West LA District Office,1394 S Sepulveda Blvd,Los Angeles,CA,90024,E,NaN,NaN,4.0,NaN,Non-Networked,34.052542,-118.448504,1519,LG,2020-02-28,private,UTILITY,Free
2,Los Angeles Convention Center,1201 S Figueroa St,Los Angeles,CA,90015,E,24 hours daily; pay lot,NaN,12.0,NaN,Non-Networked,34.040539,-118.271387,1523,P,1995-08-30,public,PARKING_GARAGE,NaN
3,LADWP - John Ferraro Building,111 N Hope St,Los Angeles,CA,90012,E,For fleet and employee use only,NaN,311.0,2.0,Non-Networked,34.059133,-118.248589,1525,LG,1999-10-15,private,UTILITY,NaN
4,LADWP - Haynes Power Plant,6801 E 2nd St,Long Beach,CA,90803,E,Fleet use only,NaN,19.0,1.0,Non-Networked,33.759802,-118.096665,1531,LG,2018-05-01,private,UTILITY,NaN

In [61]:
# Checking the Shape for dropping status codes
ev_df.shape

(50289, 19)

In [66]:
# Dropping rows where Status Code is equal to P and checking the shape 
ev_df.drop(ev_df[ev_df['Status_Code'] == "P"].index, inplace = True)
ev_df.shape

(50221, 19)

In [67]:
# Writing File to CSV
ev__df.to_csv("/Users/jennifermadson/Desktop/Data-Analytics-BootCamp/School-Projects/data_miners/resources/ev.csv")