In [115]:
# Import Dependancies
import pandas as pd

In [163]:
# Load In Median Income Datafile & EV Registrations
file_to_load_inc = "resources/Census_2019_MedianIncome.csv"
file_to_load_reg = "resources/wi_ev_registrations_public.csv"
file_to_load_type = "resources/zip_type.csv"

In [165]:
# Create Dataframes
medianInc_df = pd.io.parsers.read_csv(file_to_load_inc, dtype={'Zip_Code': 'str'})
ev_reg_df = pd.io.parsers.read_csv(file_to_load_reg, dtype={'Zip_Code': 'str'})
urb_rural_df = pd.io.parsers.read_csv(file_to_load_type, dtype={'Zip_Code': 'str'})

In [118]:
ev_reg_df.head()

,DMV_ID,DMV_Snapshot_Date,Zip_code,VIN_Prefix,Registration_Valid_Date,State_Code,EV_Make_Model
0,1,DMV Direct (6/30/2018),30348,1FADP5FU,6/30/2018,WI,Ford C-Max Energi
1,1,DMV Direct (6/30/2018),48126,1FADP5FU,6/30/2018,WI,Ford C-Max Energi
2,1,DMV Direct (6/30/2018),52101,1FADP5FU,6/30/2018,WI,Ford C-Max Energi
3,1,DMV Direct (6/30/2018),53005,1FADP5FU,6/30/2018,WI,Ford C-Max Energi
4,1,DMV Direct (6/30/2018),53045,1FADP5FU,6/30/2018,WI,Ford C-Max Energi

In [119]:
medianInc_df.dtypes

Zip_Code                             object
Total_Households                      int64
Total_Households_Margin_Error         int64
Median_Households_Estimate_Income    object
Median_Households_Margin_Error       object
Mean_Households_Estimate_Income      object
Mean_Households_Margin_Error         object
dtype: object

In [120]:
ev_regzip_df = ev_reg_df.groupby(by=["Zip_code"], as_index=False).count()
ev_regzip_df.tail(20)
ev_regzip_df.dtypes

Zip_code                   int64
DMV_ID                     int64
DMV_Snapshot_Date          int64
VIN_Prefix                 int64
Registration_Valid_Date    int64
State_Code                 int64
EV_Make_Model              int64
dtype: object

In [122]:
# Change Column Dtype
ev_regzip_df['Zip_code'] = ev_regzip_df['Zip_code'].apply(str)

In [123]:
#Drop Columns
ev_regzip_df = ev_regzip_df.drop(["DMV_Snapshot_Date", "VIN_Prefix", "Registration_Valid_Date", "State_Code", "EV_Make_Model"], axis=1)

In [150]:
#Rename Columns
ev_regzip_df = ev_regzip_df.rename(columns={"DMV_ID": "Registrations", "Zip_code": "Zip_Code"})
ev_regzip_df.columns

Index(['Zip_Code', 'Registrations'], dtype='object')

In [159]:
# Joining Dataframes
income_reg_df = pd.merge(ev_regzip_df[["Zip_Code", "Registrations"]], medianInc_df[["Total_Households", "Zip_Code", "Median_Households_Estimate_Income"]], on="Zip_Code")
income_reg_df.head()

  Zip_Code  Registrations  Total_Households Median_Households_Estimate_Income
0     2865              1              6497                             92742
1     4066              3               349                             77969
2     7470              5             18350                            123204
3     7645              5              2975                            146708
4     8054              5             17302                             94832

In [170]:
# Join urb_rural_df with income_reg_df

wi_data_df = pd.merge(income_reg_df[["Zip_Code", "Registrations", "Total_Households", "Median_Households_Estimate_Income"]], urb_rural_df[["Type", "Zip_Code"]], on="Zip_Code")
wi_data_df.columns

Index(['Zip_Code', 'Registrations', 'Total_Households',
       'Median_Households_Estimate_Income', 'Type'],
      dtype='object')

In [162]:
# Saving to CSV for Tableau
# Writing File to CSV
income_reg_df.to_csv("/Users/jennifermadson/Desktop/Data-Analytics-BootCamp/School-Projects/data_miners/resources/zip_inc_reg.csv", index=False)

In [172]:
# Saving to CSV for Tableau
# Writing WI Data File to CSV
wi_data_df.to_csv("/Users/jennifermadson/Desktop/Data-Analytics-BootCamp/School-Projects/data_miners/resources/wi_data_reg.csv", index=False)